<?xml version="1.0"?>
<launch>

  <param name ="use_sim_time" value="false"/>
  <node pkg="rmp_base" type="rmp_440le_node" name="base" output="screen" launch-prefix="" >
    <!-- udp, usb -->
    <param name="transport_type" value="udp" />
    <!-- will only be effective if transport_type is set to usb-->
    <param name="device_port" value="/dev/ttyACM0" />
  </node>

  <!-- Robot Name -->
  <arg name="robot_name" default="segbot"/>

  <!-- Loading required sensors or platform -->
  <arg name="enable_rviz" default="true"/>
  <arg name="load_fake_joint" default="false"/>
  
  <param name="$(arg robot_name)_description" command="xacro --inorder '$(find general_description)/robots/robot.urdf.xacro' robot_name:=$(arg robot_name)" />

<!-- Enabling RViz -->
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" if="$(arg enable_rviz)">
        <param name ="use_sim_time" value="false"/>
        <param name="use_gui" value="$(arg load_fake_joint)"/>
        <remap from="robot_description" to="$(arg robot_name)_description" />
        <remap from="joint_states" to="$(arg robot_name)/joint_states" />
      </node>
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find general_description)/config/general.rviz" if="$(arg enable_rviz)"/>
        <param name ="use_sim_time" value="false"/>
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" if="$(arg enable_rviz)">
        <remap from="robot_description" to="$(arg robot_name)_description" />
        <remap from="joint_states" to="$(arg robot_name)/joint_states" />
      </node>

</launch>
