<launch>
  	<!-- Choose visualization -->
	<arg name="rtabmapviz"              default="true" /> 

	<!-- Corresponding config files -->
	<arg name="rtabmapviz_cfg"          default="$(find rtabmap_ros)/launch/config/rgbd_gui.ini" />


    <node pkg="rtabmap_ros" type="rtabmap" name="rtabmap" output="screen" args="-d">
    <!-- inputs -->
    <param name="camera_info_topic"     value="/camera/rgb/camera_info" />
    <param name="cloud_topic"           value="/lidar/cloud"/>
    <param name="frame_id" type="string" value="base_link"/>
    <param name="subscribe_rgbd" type="bool" value="true"/>
    <param name="approx_sync"       value="false"/>

    <!-- output -->
    <param name="depth_topic"           value="/camera/depth_registered/image_raw" />
  </node>

  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="frame_id"                value="base_link"/>
    <arg name="subscribe_scan_cloud"    value="true"/>
    <arg name="scan_cloud_max_points"   value="130000"/> <!-- Velodyne HDL-64E -->
    <arg name="database_path"           default="~/.ros/rtabmap.db"/>

    <arg name="rgb_topic"               value="/camera/rgb/image_rect_color" />
    <arg name="depth_topic"             value="/camera/depth_registered/image_raw" />
    <arg name="camera_info_topic"       value="/camera/rgb/camera_info" />
    <arg name="scan_cloud_topic"        value="/lidar/cloud"/>

#     <arg name="visual_odometry"         default="true"/>
    <arg name="odom_topic"              default="/odom"/>
#     <arg name="odom_frame_id"           default=""/>

    <arg name="wait_for_transform"      default="0.2"/>

    <!-- Icp parameters based on KITTI dataset -->
    <arg name="rtabmap_args" value="--delete_db_on_start --Reg/Strategy 1 --Icp/MaxTranslation 0 --Icp/VoxelSize 0.3 --Icp/DownsamplingStep 10 --Icp/MaxCorrespondenceDistance 0.3 --Icp/Iterations 10 Icp/Epsilon 0.01 --Icp/CorrespondenceRatio 0.1 --Icp/PointToPlane true"/>

  </include>
</launch>
