<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Names of the robot -->
    <arg name="robot_name" default="/"/>

    <!--Gazebo_ros package  -->
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>

    <arg name="world_name" default="worlds/empty.world"/>

    <!-- Empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- Load robot description to the parameter server -->
    <include file="$(find general_gazebo)/launch/spawn_robot.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>        
    </include>

</launch>






