<launch>
  	<!-- Choose visualization -->
	<arg name="rtabmapviz"              default="true" /> 

	<!-- Corresponding config files -->
	<arg name="rtabmapviz_cfg"          default="$(find rtabmap_ros)/launch/config/rgbd_gui.ini" />


  <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync">
    <remap from="rgb/image"         to="/zed/rgb/image_rect_color"/>
    <remap from="depth/image"       to="/zed/depth/depth_registered"/>
    <remap from="rgb/camera_info"   to="/zed/rgb/camera_info"/>
    <param name="approx_sync"       value="false"/>
  </node>

  <include file="$(find rtabmap_ros)/launch/data_recorder.launch">
    <arg name="subscribe_odometry"   value="true"/>
    <arg name="subscribe_scan_cloud" value="true"/>
    <arg name="subscribe_depth"      value="false"/>
    <arg name="depth_topic"             value="/camera/depth_registered/image_raw" />
    <arg name="subscribe_rgbd"       value="true"/>
    <arg name="rgb_topic"               value="/camera/rgb/image_rect_color" />
    <arg name="scan_cloud_topic"        value="/lidar/cloud"/>
    <arg name="odom_topic"           value="/zed_vio_odom"/> <!-- other choices: /wheel_odom or /odom_combined (robot_localization) -->
    <arg name="frame_id"             value="base_link"/>
    <arg name="database_path"           default="~/.ros/rtabmap.db"/>
    <arg name="wait_for_transform"      default="0.2"/>
  </include>

#     <arg name="scan_cloud_max_points"   value="130000"/> <!-- Velodyne HDL-64E -->
#     <arg name="camera_info_topic"       value="/camera/rgb/camera_info" />

    <!-- Icp parameters based on KITTI dataset -->
    <arg name="rtabmap_args" value="--delete_db_on_start --Reg/Strategy 1 --Icp/MaxTranslation 0 --Icp/VoxelSize 0.3 --Icp/DownsamplingStep 10 --Icp/MaxCorrespondenceDistance 0.3 --Icp/Iterations 10 Icp/Epsilon 0.01 --Icp/CorrespondenceRatio 0.1 --Icp/PointToPlane true"/>

  </include>
</launch>
