<launch>
  <node name="cmd_vel_smoother" pkg="cmd_vel_smoother" type="cmd_vel_smoother" output="screen">
    <remap from="input" to="/cmd_vel" />
    <remap from="output" to="/cmd_vel1" />

    <param name="desired_rate" value="50.0" />
    <param name="x_acc_lim" value="2.0" />
    <param name="y_acc_lim" value="2.0" />
    <param name="yaw_acc_lim" value="2.0" />
    <param name="max_count" value="20" />
  </node>
</launch>
